.swiper-pagination-bullet {
  height: 2.9px !important;
  background: #2563eb !important;
  width: 24px !important;
  border-radius: 0 !important;
}

.swiper-pagination-bullet-active {
  background: #2563eb !important;
  width: 48px !important;
  height: 2.9px !important;
  border-radius: 0 !important;
}

.swiper-slide {
  flex-shrink: 0 !important;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}
