@import "tailwindcss";
@import "./typography.css";
@import "./tokens.css";

@layer base {
  html {
    font-family: var(--font-inter);
    color: var(--color-slate-700);
  }
}

@theme {
  --animate-fadeInDown: fadeInDown;
  --animate-fadeIn: fadeIn;

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}
