/* =========================================================
   DEFAULT FIELDSET — PHONE NUMBER
   ========================================================= */

.default-fieldset[data-cid="phone-number"] {
  /* =======================================================
     Container
     ======================================================= */
  .react-international-phone-input-container {
    display: flex !important;
    width: 100% !important;
    height: auto !important;
    flex: 1 1 0% !important;
    border-width: 0 !important;
    font-family: var(--font-inter) !important;
  }

  /* =======================================================
     Input
     ======================================================= */
  .react-international-phone-input {
    z-index: 20 !important;
    width: 100% !important;
    height: auto !important;
    padding: 0.75rem !important;

    /* Typography */
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 22px !important;

    /* Visual */
    background-color: rgb(255 255 255 / 1) !important;
    color: rgb(100 116 139 / 1) !important;
    border-width: 0 !important;
    border-top-right-radius: 0.125rem !important;
    border-bottom-right-radius: 0.125rem !important;

    /* Outline */
    outline: 1px solid #94a3b8 !important;
    outline-offset: 0 !important;
  }

  .react-international-phone-input:hover {
    outline-color: #334155 !important;
  }

  .react-international-phone-input:focus {
    outline-width: 2px !important;
    outline-color: #2563eb !important;
  }

  .react-international-phone-input.secondary {
    background-color: rgb(255 255 255 / 1) !important;
    color: rgb(100 116 139 / 1) !important;
    outline-color: #94a3b8 !important;
  }

  .react-international-phone-input.error {
    outline-color: #ef4444 !important;
  }

  .react-international-phone-input.filled {
    color: rgb(51 65 85 / 1) !important;
  }

  @media (min-width: 1024px) {
    .react-international-phone-input {
      font-size: 16px !important;
      line-height: 24px !important;
    }
  }

  /* =======================================================
     Country selector
     ======================================================= */
  .react-international-phone-country-selector {
    height: auto !important;
    border-width: 0 !important;
    border-top-left-radius: 0.125rem !important;
    border-bottom-left-radius: 0.125rem !important;
  }

  .react-international-phone-country-selector-button {
    height: 100% !important;
    margin-right: 0 !important;
    padding: 0 0.75rem !important;

    border-width: 0 !important;
    border-top-left-radius: 0.125rem !important;
    border-bottom-left-radius: 0.125rem !important;

    outline: 1px solid #94a3b8 !important;
  }

  .react-international-phone-country-selector-button:hover {
    background-color: rgb(255 255 255 / 1) !important;
    outline-color: #334155 !important;
  }

  .react-international-phone-country-selector-button__button-content {
    display: flex !important;
    align-items: center !important;
    column-gap: 0.25rem !important;
  }

  .react-international-phone-country-selector-button__dropdown-arrow {
    width: 1rem !important;
  }

  .react-international-phone-flag-emoji {
    width: 1.5rem !important;
    border-radius: 0 !important;
  }

  /* =======================================================
     Dropdown
     ======================================================= */
  .react-international-phone-country-selector-dropdown {
    top: 52px !important;
    border: 1px solid rgb(226 232 240 / 1) !important;
    border-radius: 0.125rem !important;
    box-shadow:
      0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 8px 10px -6px rgba(0, 0, 0, 0.1) !important;
    outline: 2px solid transparent !important;
    outline-offset: 2px !important;
  }

  .react-international-phone-country-selector-dropdown__list-item {
    display: flex !important;
    gap: 0.5rem !important;
    padding: 0.5rem !important;
  }

  .react-international-phone-country-selector-dropdown__list-item-country-name {
    margin: 0 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 22px !important;
    color: rgb(100 116 139 / 1) !important;
  }

  .react-international-phone-country-selector-dropdown__list-item-dial-code {
    color: rgb(100 116 139 / 1) !important;
  }

  @media (min-width: 1024px) {
    .react-international-phone-country-selector-dropdown__list-item-country-name {
      font-size: 16px !important;
      line-height: 24px !important;
    }
  }
}